mixin social()
  +b.UL.social&attributes(attributes)
    +e.LI.item.--favorites
      +e.A.link(href="#") В избранное
    +e.LI.item.--print
      +e.A.link(href="#") Распечатать
    +e.LI.item.--reviews
      +e.A.link(href="#") Отзывы
    +e.LI.item.--share
      +e.A.link(href="#") Поделиться
    +e.LI.item.--compare
      +e.A.link(href="#") Сравнить