.reviews {
  padding-bottom: 60px;

  &__inner {
    .container(30px);
  }

  &__row {
    .row(30px);
  }

  &__item {
    .col(30px, left);
    .col12-12;
    margin-top: 30px;

    @media screen and (min-width: @width_tablet){
      .col12-6;
    }

    @media screen and (min-width: @width_desktop_min){
      .col12-4;
    }

    &:nth-child(2n+1) {

      @media screen and (min-width: @width_tablet){
        clear: both;
      }

      @media screen and (min-width: @width_desktop_min){
        clear: none;
      }
    }

    &:nth-child(3n+1) {

      @media screen and (min-width: @width_tablet){
        
      }

      @media screen and (min-width: @width_desktop_min){
        clear: none;
      }
    }

  }

}

.reviews-title {
  margin-top: 0;
  font-family: @lato;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: @blue;
}