mixin juristic()
  +b.juristic&attributes(attributes)
    +e.P.text Вся информация на сайте представлена в ознакомительных целях и не является публичной офертой. Для уточнения информации обращайтесь по телефонам в разделе контакты
    +e.P.text Копирование информации без письменного разрешения ЗАПРЕЩЕНО!