mixin pagination()
  +b.pagination&attributes(attributes)
    +e.arrows.--prev
      +e.A.arrow.--prev(href="#")
    +e.pages
      +e.A.page-link.--active(href="#") 1
      +e.A.page-link(href="#") 2
      +e.A.page-link(href="#") 3
      +e.A.page-link(href="#") ...
      +e.A.page-link(href="#") 25
    +e.arrows.--next
      +e.A.arrow.--next(href="#")