mixin project-nav()
  +b.project-nav&attributes(attributes)
    +e.SPAN.title Каталог проектов
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#") Дачные дома
      +e.LI.item
        +e.A.link(href="#") Постоянное проживание
      +e.LI.item
        +e.A.link(href="#") Бани
      +e.LI.item
        +e.A.link(href="#") Срубы и домокомплекты