.main-nav {

  &__item{
    position: relative;
    display: block;
    margin-left: 0;
    text-align: left;
    padding: 15px;
    border-top: solid 1px grey;

    @media screen and (min-width: @width_tablet){
      display: inline-block;
      margin-left: 60px;
      border-top: none;
      padding: 0;
    }

    @media screen and (min-width: @width_desktop_min){

    }

    &:first-child {
      border-top: none;

      @media screen and (min-width: @width_tablet){
        margin-left: 0;
      }

      @media screen and (min-width: @width_desktop_min){

      }
    }
  }

  &__link {
    display: block;
    font-family: @lato;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: @blue-dark;

    &:hover {
      text-decoration: underline;

      & + .subnav {
        display: block;
        opacity: 1;
      }
    }
    
    &--active {
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }
    }
  }
}