mixin projects-filter()
  +b.SECTION.projects-filter&attributes(attributes)
    +e.inner
      +e.box
        +e.item.--type
          +e.P.label Тип проекта
          +e.DIV.select
            +e.SPAN.selected Выбрать
            +e.dropdown
              +e.UL.option-list
                +e.LI.option.--selected 
                  +e.A.link(href="#") Постоянное проживание
                +e.LI.option 
                  +e.A.link(href="#") Летнее проживание
                +e.LI.option 
                  +e.A.link(href="#") Осенне-весеннее проживание
                +e.LI.option 
                  +e.A.link(href="#") Временная регистрация
                +e.LI.option 
                  +e.A.link(href="#") Вид на жительство
                +e.LI.option 
                  +e.A.link(href="#") Green-card
        +e.item.--bedroom
          +e.P.label Спален
          +e.DIV.select
            +e.SPAN.selected Шт.
            +e.dropdown
              +e.UL.option-list
                +e.LI.option.--selected
                  +e.A.link(href="#") 1
                +e.LI.option
                  +e.A.link(href="#") 2
                +e.LI.option
                  +e.A.link(href="#") 3
        +e.item.--square
          +e.P.label Площадь
          +e.DIV.select
            +e.SPAN.selected Выбрать
            +e.dropdown
              +e.UL.option-list
                +e.LI.option.--selected
                  +e.A.link(href="#") 100 - 120
                +e.LI.option
                  +e.A.link(href="#") 120 - 140
                +e.LI.option
                  +e.A.link(href="#") 140 - 160
                +e.LI.option
                  +e.A.link(href="#") 160 - 180
                +e.LI.option
                  +e.A.link(href="#") 180 - 200
                +e.LI.option
                  +e.A.link(href="#") от 200
        +e.item.--proportions
          +e.P.label Площадь
          +e.DIV.select
            +e.SPAN.selected Выбрать
            +e.dropdown
              +e.UL.option-list
                +e.LI.option.--selected
                  +e.A.link(href="#") 6 Х 6
                +e.LI.option
                  +e.A.link(href="#") 7 Х 7
                +e.LI.option
                  +e.A.link(href="#") 8 Х 8
                +e.LI.option
                  +e.A.link(href="#") 8 Х 6
                +e.LI.option
                  +e.A.link(href="#") 9 Х 7
        +e.item.--price
          +e.price
            +e.LABEL.label Стоимость от
            +e.INPUT.cost.--start(placeholder="", value="100 000")
          +e.price
            +e.LABEL.label До
            +e.INPUT.cost.--end(placeholder="", value="300 000")
        +e.item.--btn
          +e.BUTTON.btn 
