.page-header{
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid 1px #f1f0ee;

  &--index {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  &__inner {
    .container(30px)
  }

  &__row {
    .row(30px)
  }

  &__logo {
    .col(30px, left);
    .col12-3;
  }

  &__info {
    .col(30px, left);
    .col12-9;
    padding-top: 9px;
    text-align: right;
  }
}