mixin form-review()
  +b.form-review&attributes(attributes)
    +e.inner
      +e.FORM.form
        +e.row
          +e.item
            +e.LABEL.label Тип проекта
            +e.DIV.select
              +e.SPAN.selected Выбрать
              +e.dropdown
                +e.UL.option-list
                  +e.LI.option.--selected 
                      +e.A.link(href="#") Постоянное проживание
                  +e.LI.option 
                    +e.A.link(href="#") Летнее проживание
                  +e.LI.option 
                    +e.A.link(href="#") Осенне-весеннее проживание
                  +e.LI.option 
                    +e.A.link(href="#") Временная регистрация
                  +e.LI.option 
                    +e.A.link(href="#") Вид на жительство
                  +e.LI.option 
                    +e.A.link(href="#") Green-card
          +e.item
            +e.LABEL.label Город
            +e.DIV.select
              +e.SPAN.selected Выбрать
              +e.dropdown
                +e.UL.option-list
                  +e.LI.option.--selected
                    +e.A.link(href="#") Санкт-Петербург
                  +e.LI.option
                    +e.A.link(href="#") Тосно
                  +e.LI.option
                    +e.A.link(href="#") Сестрорецк
                  +e.LI.option.--selected
                    +e.A.link(href="#") 47 км
                  +e.LI.option
                    +e.A.link(href="#") Грузино
                  +e.LI.option
                    +e.A.link(href="#") Нюнимяки

          +e.item
            +b.BUTTON.btn.--orange.--orange-fill Показать проекты
            +e.box-checkbox
              +e.INPUT.checkbox(type="checkbox", id="review-check")
              +e.LABEL.label.--checkbox(for="review-check") Только видео-отзывы