mixin review()
  +b.SECTION.review&attributes(attributes)
    +e.inner
      +e.SPAN.number 001
      +e.DIV.title 
        h1 Проект дома Любань
      +e.row
        +e.slider-box
          +e.slider-content
            +e.slider-big
              +e.slider-big-item
                +e.IMG.big-photo(src="/img/review-card.jpg")
              +e.slider-big-item
                +e.IMG.big-photo(src="/img/review1.jpg")
              +e.slider-big-item
                +e.IMG.big-photo(src="/img/review2.jpg")
              +e.slider-big-item
                +e.IMG.big-photo(src="/img/review3.jpg")
              +e.slider-big-item
                +e.IMG.big-photo(src="/img/project.jpg")
            +e.slider-preview
              +e.slider-preview-item
                +e.IMG.preview-photo(src="/img/review-card.jpg")
              +e.slider-preview-item
                +e.IMG.preview-photo(src="/img/review1.jpg")
              +e.slider-preview-item
                +e.IMG.preview-photo(src="/img/review2.jpg")
              +e.slider-preview-item
                +e.IMG.preview-photo(src="/img/review3.jpg")
              +e.slider-preview-item
                +e.IMG.preview-photo(src="/img/project.jpg")
        +e.info-box
          +e.letter-box
            +e.IMG.letter(src="/img/letter.jpg")
          +e.row
            +e.chart
              +e.chart-box
                +e.IMG.chart-img(src="/img/chart.jpg")
            +e.chart
              +e.chart-box
                +e.IMG.chart-img(src="/img/chart.jpg")
