.review{
  display: block;

  &__inner {
    .container(30px);
  }

  &__number {
    display: inline-block;
    margin-right: 10px;
    font-family: @lato;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.8px;
    color: @green;
  }

  &__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    font-family: @lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1.5px;
    color: @blue;
    text-transform: uppercase;

    @media screen and (min-width: @width_tablet){
      margin-top: 30px;
      text-align: center;
    }

    @media screen and (min-width: @width_desktop_min){

    }
  }

  &__row {
    .row(30px);
  }

  &__slider-box {
    .col(30px, left);
    .col12-12;

    @media screen and (min-width: @width_tablet){
      .col12-7;
    }

    @media screen and (min-width: @width_desktop_min){
      .col12-8;
    }
  }

  &__slider-content {
    overflow: hidden;
  }

  &__slider-big {
    height: 200px;
    margin-bottom: 30px;

    @media screen and (min-width: @width_tablet){
      height: 400px;
    }

    @media screen and (min-width: @width_desktop_min){
      height: 515px;
    }
  }

  &__slider-big-item {
    height: 200px;

    @media screen and (min-width: @width_tablet){
      height: 400px;
    }

    @media screen and (min-width: @width_desktop_min){
      height: 515px;
    }
  }

  &__big-photo {
    min-height: 100%;
  }

  &__slider-big-item {
    
  }



  &__slider-preview {
    .row(30px);
    // display: none;

    @media screen and (min-width: @width_tablet){
      display: block;
    }

    @media screen and (min-width: @width_desktop_min){

    }

    & .slick-list {
      display: none;

      @media screen and (min-width: @width_tablet){
        display: block;
      }

      @media screen and (min-width: @width_desktop_min){

      }
    }
  }

  &__slider-preview-item {
    // width: 170px;
    height: 120px;
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
  }

  &__info-box {
    .col(30px, left);
    .col12-12;

    @media screen and (min-width: @width_tablet){
      .col12-5;
    }

    @media screen and (min-width: @width_desktop_min){
      .col12-4;
    }
  }

  & .slick-arrow {
    top: -140px;
    bottom: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px #e6e6e6;

    @media screen and (min-width: @width_tablet){
      top: -200px;
    }

    @media screen and (min-width: @width_desktop_min){
      top: -290px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0);
    }

    &:before {
      border-top: 3px solid #e0e0e0;
    }
  }

  & .slick-prev {
    left: 15px;

    &:before {
      border-left: 3px solid #e0e0e0;
    }
    
  }

  & .slick-next {
    right: 15px;

    &:before {
      border-right: 3px solid #e0e0e0;
    }
  }

  &__letter-box {
    display: none;

    @media screen and (min-width: @width_tablet){
      display: block;
      height: 400px;
      margin-bottom: 30px;
      box-sizing: border-box;
      overflow: hidden;
      border: solid 1px #e6e6e6;
    }

    @media screen and (min-width: @width_desktop_min){
      height: 515px;
    }
  }

  &__letter {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  &__chart {
    .col(30px, left);
    .col12-6;
  }

  &__chart-box {
    height: 120px;
    box-sizing: border-box;
    overflow: hidden;
    border: solid 1px #e6e6e6;
  }

  &__chart-img {
    display: block;
    margin: 0 auto;
  }

}