
include ../../blocks/promo/promo
include ../../blocks/page-header/page-header
include ../../blocks/main-nav/main-nav
include ../../blocks/phone/phone
include ../../blocks/logo/logo
include ../../blocks/main-nav-item/main-nav-item
include ../../blocks/page-footer/page-footer
include ../../blocks/usefull/usefull
include ../../blocks/contacts/contacts
include ../../blocks/project-nav/project-nav
include ../../blocks/usefull-nav/usefull-nav
include ../../blocks/juristic/juristic
include ../../blocks/footer-nav/footer-nav
include ../../blocks/project-card/project-card
include ../../blocks/usefull-info/usefull-info
include ../../blocks/usefull-item/usefull-item
include ../../blocks/about/about
include ../../blocks/form-block/form-block
include ../../blocks/form/form
include ../../blocks/promo-slider/promo-slider
include ../../blocks/pagination/pagination
include ../../blocks/breadcrumbs/breadcrumbs
include ../../blocks/breadcrumbs-link/breadcrumbs-link
include ../../blocks/projects-filter/projects-filter
include ../../blocks/project/project
include ../../blocks/subnav/subnav
include ../../blocks/review/review