.logo{
  display: block;
  overflow: hidden;

  @media screen and (min-width: @width_tablet){

  }

  @media screen and (min-width: @width_desktop_min){

  }

  &__img {
    display: block;
    width: auto;
    height: 100%;

    @media screen and (min-width: @width_tablet){
      height: auto;
      width: 100%;
    }

    @media screen and (min-width: @width_desktop_min){

    }
  }
}

.page-header {

  &--desktop {

    .logo {
      overflow: hidden;

      &__img {
        width: auto;
        height: 100%;
      }
    }
  }
}