mixin page-footer()
  +b.FOOTER.page-footer&attributes(attributes)
    +e.main
      +e.inner
        +e.row
          block
        +e.error
          +e.P.error-message Нашли ошибку? Выделите слово и нажмите CTRL+ENTER
    +e.copyright
      +e.inner
        +b.P.copytight
          +e.SPAN.text 2017 ПСК Живой дом. Все права защищены.