mixin page-footer()
  +b.FOOTER.page-footer&attributes(attributes)
    +e.main
      +e.inner
        +e.row
          block
    +e.copyright
      +e.inner
        +b.P.copytight
          +e.SPAN.text 2017 ПСК Живой дом. Все права защищены.