body, html {
  // font-family: @lato;
  // min-width: 100vh;
}

input, button, textarea, select {
  outline: none;
}

button {
  cursor: pointer;
}

.main {
  margin-top: 60px;

  @media screen and (min-width: @width_tablet){
    margin-top: 140px;
  }

  @media screen and (min-width: @width_desktop_min){
    margin-top: 127px;
  }

  &--index {
    margin-top: 0;

    @media screen and (min-width: @width_tablet){
      margin-top: 0;
    }

    @media screen and (min-width: @width_desktop_min){
      margin-top: 0;
    }
  }

  &__inner {
    .container(30px);
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: @lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1.5px;
  color: @blue;
  text-transform: uppercase;
}


