/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-balcony-2x-name: 'icon-balcony@2x';
@icon-balcony-2x-x: 348px;
@icon-balcony-2x-y: 0px;
@icon-balcony-2x-offset-x: -348px;
@icon-balcony-2x-offset-y: 0px;
@icon-balcony-2x-width: 76px;
@icon-balcony-2x-height: 78px;
@icon-balcony-2x-total-width: 424px;
@icon-balcony-2x-total-height: 414px;
@icon-balcony-2x-image: '../img/png-sprite.png';
@icon-balcony-2x: 348px 0px -348px 0px 76px 78px 424px 414px '../img/png-sprite.png' 'icon-balcony@2x';
@icon-bath-2x-name: 'icon-bath@2x';
@icon-bath-2x-x: 114px;
@icon-bath-2x-y: 204px;
@icon-bath-2x-offset-x: -114px;
@icon-bath-2x-offset-y: -204px;
@icon-bath-2x-width: 100px;
@icon-bath-2x-height: 70px;
@icon-bath-2x-total-width: 424px;
@icon-bath-2x-total-height: 414px;
@icon-bath-2x-image: '../img/png-sprite.png';
@icon-bath-2x: 114px 204px -114px -204px 100px 70px 424px 414px '../img/png-sprite.png' 'icon-bath@2x';
@icon-bedroom-2x-name: 'icon-bedroom@2x';
@icon-bedroom-2x-x: 204px;
@icon-bedroom-2x-y: 134px;
@icon-bedroom-2x-offset-x: -204px;
@icon-bedroom-2x-offset-y: -134px;
@icon-bedroom-2x-width: 98px;
@icon-bedroom-2x-height: 64px;
@icon-bedroom-2x-total-width: 424px;
@icon-bedroom-2x-total-height: 414px;
@icon-bedroom-2x-image: '../img/png-sprite.png';
@icon-bedroom-2x: 204px 134px -204px -134px 98px 64px 424px 414px '../img/png-sprite.png' 'icon-bedroom@2x';
@icon-bus-2x-name: 'icon-bus@2x';
@icon-bus-2x-x: 348px;
@icon-bus-2x-y: 82px;
@icon-bus-2x-offset-x: -348px;
@icon-bus-2x-offset-y: -82px;
@icon-bus-2x-width: 40px;
@icon-bus-2x-height: 46px;
@icon-bus-2x-total-width: 424px;
@icon-bus-2x-total-height: 414px;
@icon-bus-2x-image: '../img/png-sprite.png';
@icon-bus-2x: 348px 82px -348px -82px 40px 46px 424px 414px '../img/png-sprite.png' 'icon-bus@2x';
@icon-car-2x-name: 'icon-car@2x';
@icon-car-2x-x: 152px;
@icon-car-2x-y: 288px;
@icon-car-2x-offset-x: -152px;
@icon-car-2x-offset-y: -288px;
@icon-car-2x-width: 42px;
@icon-car-2x-height: 38px;
@icon-car-2x-total-width: 424px;
@icon-car-2x-total-height: 414px;
@icon-car-2x-image: '../img/png-sprite.png';
@icon-car-2x: 152px 288px -152px -288px 42px 38px 424px 414px '../img/png-sprite.png' 'icon-car@2x';
@icon-check-blue-2x-name: 'icon-check-blue@2x';
@icon-check-blue-2x-x: 242px;
@icon-check-blue-2x-y: 288px;
@icon-check-blue-2x-offset-x: -242px;
@icon-check-blue-2x-offset-y: -288px;
@icon-check-blue-2x-width: 30px;
@icon-check-blue-2x-height: 30px;
@icon-check-blue-2x-total-width: 424px;
@icon-check-blue-2x-total-height: 414px;
@icon-check-blue-2x-image: '../img/png-sprite.png';
@icon-check-blue-2x: 242px 288px -242px -288px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-check-blue@2x';
@icon-check-green-2x-name: 'icon-check-green@2x';
@icon-check-green-2x-x: 34px;
@icon-check-green-2x-y: 348px;
@icon-check-green-2x-offset-x: -34px;
@icon-check-green-2x-offset-y: -348px;
@icon-check-green-2x-width: 30px;
@icon-check-green-2x-height: 26px;
@icon-check-green-2x-total-width: 424px;
@icon-check-green-2x-total-height: 414px;
@icon-check-green-2x-image: '../img/png-sprite.png';
@icon-check-green-2x: 34px 348px -34px -348px 30px 26px 424px 414px '../img/png-sprite.png' 'icon-check-green@2x';
@icon-check-2x-name: 'icon-check@2x';
@icon-check-2x-x: 102px;
@icon-check-2x-y: 348px;
@icon-check-2x-offset-x: -102px;
@icon-check-2x-offset-y: -348px;
@icon-check-2x-width: 30px;
@icon-check-2x-height: 26px;
@icon-check-2x-total-width: 424px;
@icon-check-2x-total-height: 414px;
@icon-check-2x-image: '../img/png-sprite.png';
@icon-check-2x: 102px 348px -102px -348px 30px 26px 424px 414px '../img/png-sprite.png' 'icon-check@2x';
@icon-clock-green-2x-name: 'icon-clock-green@2x';
@icon-clock-green-2x-x: 348px;
@icon-clock-green-2x-y: 224px;
@icon-clock-green-2x-offset-x: -348px;
@icon-clock-green-2x-offset-y: -224px;
@icon-clock-green-2x-width: 40px;
@icon-clock-green-2x-height: 42px;
@icon-clock-green-2x-total-width: 424px;
@icon-clock-green-2x-total-height: 414px;
@icon-clock-green-2x-image: '../img/png-sprite.png';
@icon-clock-green-2x: 348px 224px -348px -224px 40px 42px 424px 414px '../img/png-sprite.png' 'icon-clock-green@2x';
@icon-clock-white-2x-name: 'icon-clock-white@2x';
@icon-clock-white-2x-x: 392px;
@icon-clock-white-2x-y: 224px;
@icon-clock-white-2x-offset-x: -392px;
@icon-clock-white-2x-offset-y: -224px;
@icon-clock-white-2x-width: 30px;
@icon-clock-white-2x-height: 32px;
@icon-clock-white-2x-total-width: 424px;
@icon-clock-white-2x-total-height: 414px;
@icon-clock-white-2x-image: '../img/png-sprite.png';
@icon-clock-white-2x: 392px 224px -392px -224px 30px 32px 424px 414px '../img/png-sprite.png' 'icon-clock-white@2x';
@icon-close-2x-name: 'icon-close@2x';
@icon-close-2x-x: 310px;
@icon-close-2x-y: 288px;
@icon-close-2x-offset-x: -310px;
@icon-close-2x-offset-y: -288px;
@icon-close-2x-width: 30px;
@icon-close-2x-height: 30px;
@icon-close-2x-total-width: 424px;
@icon-close-2x-total-height: 414px;
@icon-close-2x-image: '../img/png-sprite.png';
@icon-close-2x: 310px 288px -310px -288px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-close@2x';
@icon-dialog-blue-2x-name: 'icon-dialog-blue@2x';
@icon-dialog-blue-2x-x: 378px;
@icon-dialog-blue-2x-y: 288px;
@icon-dialog-blue-2x-offset-x: -378px;
@icon-dialog-blue-2x-offset-y: -288px;
@icon-dialog-blue-2x-width: 30px;
@icon-dialog-blue-2x-height: 30px;
@icon-dialog-blue-2x-total-width: 424px;
@icon-dialog-blue-2x-total-height: 414px;
@icon-dialog-blue-2x-image: '../img/png-sprite.png';
@icon-dialog-blue-2x: 378px 288px -378px -288px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-dialog-blue@2x';
@icon-dialog-green-2x-name: 'icon-dialog-green@2x';
@icon-dialog-green-2x-x: 204px;
@icon-dialog-green-2x-y: 0px;
@icon-dialog-green-2x-offset-x: -204px;
@icon-dialog-green-2x-offset-y: 0px;
@icon-dialog-green-2x-width: 140px;
@icon-dialog-green-2x-height: 130px;
@icon-dialog-green-2x-total-width: 424px;
@icon-dialog-green-2x-total-height: 414px;
@icon-dialog-green-2x-image: '../img/png-sprite.png';
@icon-dialog-green-2x: 204px 0px -204px 0px 140px 130px 424px 414px '../img/png-sprite.png' 'icon-dialog-green@2x';
@icon-estimate-2x-name: 'icon-estimate@2x';
@icon-estimate-2x-x: 392px;
@icon-estimate-2x-y: 82px;
@icon-estimate-2x-offset-x: -392px;
@icon-estimate-2x-offset-y: -82px;
@icon-estimate-2x-width: 30px;
@icon-estimate-2x-height: 42px;
@icon-estimate-2x-total-width: 424px;
@icon-estimate-2x-total-height: 414px;
@icon-estimate-2x-image: '../img/png-sprite.png';
@icon-estimate-2x: 392px 82px -392px -82px 30px 42px 424px 414px '../img/png-sprite.png' 'icon-estimate@2x';
@icon-gear-2x-name: 'icon-gear@2x';
@icon-gear-2x-x: 348px;
@icon-gear-2x-y: 178px;
@icon-gear-2x-offset-x: -348px;
@icon-gear-2x-offset-y: -178px;
@icon-gear-2x-width: 40px;
@icon-gear-2x-height: 42px;
@icon-gear-2x-total-width: 424px;
@icon-gear-2x-total-height: 414px;
@icon-gear-2x-image: '../img/png-sprite.png';
@icon-gear-2x: 348px 178px -348px -178px 40px 42px 424px 414px '../img/png-sprite.png' 'icon-gear@2x';
@icon-hall-2x-name: 'icon-hall@2x';
@icon-hall-2x-x: 0px;
@icon-hall-2x-y: 288px;
@icon-hall-2x-offset-x: 0px;
@icon-hall-2x-offset-y: -288px;
@icon-hall-2x-width: 104px;
@icon-hall-2x-height: 56px;
@icon-hall-2x-total-width: 424px;
@icon-hall-2x-total-height: 414px;
@icon-hall-2x-image: '../img/png-sprite.png';
@icon-hall-2x: 0px 288px 0px -288px 104px 56px 424px 414px '../img/png-sprite.png' 'icon-hall@2x';
@icon-heart-2x-name: 'icon-heart@2x';
@icon-heart-2x-x: 0px;
@icon-heart-2x-y: 348px;
@icon-heart-2x-offset-x: 0px;
@icon-heart-2x-offset-y: -348px;
@icon-heart-2x-width: 30px;
@icon-heart-2x-height: 30px;
@icon-heart-2x-total-width: 424px;
@icon-heart-2x-total-height: 414px;
@icon-heart-2x-image: '../img/png-sprite.png';
@icon-heart-2x: 0px 348px 0px -348px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-heart@2x';
@icon-info-big-2x-name: 'icon-info-big@2x';
@icon-info-big-2x-x: 0px;
@icon-info-big-2x-y: 0px;
@icon-info-big-2x-offset-x: 0px;
@icon-info-big-2x-offset-y: 0px;
@icon-info-big-2x-width: 200px;
@icon-info-big-2x-height: 200px;
@icon-info-big-2x-total-width: 424px;
@icon-info-big-2x-total-height: 414px;
@icon-info-big-2x-image: '../img/png-sprite.png';
@icon-info-big-2x: 0px 0px 0px 0px 200px 200px 424px 414px '../img/png-sprite.png' 'icon-info-big@2x';
@icon-info-2x-name: 'icon-info@2x';
@icon-info-2x-x: 314px;
@icon-info-2x-y: 240px;
@icon-info-2x-offset-x: -314px;
@icon-info-2x-offset-y: -240px;
@icon-info-2x-width: 30px;
@icon-info-2x-height: 32px;
@icon-info-2x-total-width: 424px;
@icon-info-2x-total-height: 414px;
@icon-info-2x-image: '../img/png-sprite.png';
@icon-info-2x: 314px 240px -314px -240px 30px 32px 424px 414px '../img/png-sprite.png' 'icon-info@2x';
@icon-kitchen-2x-name: 'icon-kitchen@2x';
@icon-kitchen-2x-x: 0px;
@icon-kitchen-2x-y: 204px;
@icon-kitchen-2x-offset-x: 0px;
@icon-kitchen-2x-offset-y: -204px;
@icon-kitchen-2x-width: 110px;
@icon-kitchen-2x-height: 80px;
@icon-kitchen-2x-total-width: 424px;
@icon-kitchen-2x-total-height: 414px;
@icon-kitchen-2x-image: '../img/png-sprite.png';
@icon-kitchen-2x: 0px 204px 0px -204px 110px 80px 424px 414px '../img/png-sprite.png' 'icon-kitchen@2x';
@icon-mail-white-2x-name: 'icon-mail-white@2x';
@icon-mail-white-2x-x: 136px;
@icon-mail-white-2x-y: 348px;
@icon-mail-white-2x-offset-x: -136px;
@icon-mail-white-2x-offset-y: -348px;
@icon-mail-white-2x-width: 30px;
@icon-mail-white-2x-height: 22px;
@icon-mail-white-2x-total-width: 424px;
@icon-mail-white-2x-total-height: 414px;
@icon-mail-white-2x-image: '../img/png-sprite.png';
@icon-mail-white-2x: 136px 348px -136px -348px 30px 22px 424px 414px '../img/png-sprite.png' 'icon-mail-white@2x';
@icon-mail-2x-name: 'icon-mail@2x';
@icon-mail-2x-x: 198px;
@icon-mail-2x-y: 288px;
@icon-mail-2x-offset-x: -198px;
@icon-mail-2x-offset-y: -288px;
@icon-mail-2x-width: 40px;
@icon-mail-2x-height: 30px;
@icon-mail-2x-total-width: 424px;
@icon-mail-2x-total-height: 414px;
@icon-mail-2x-image: '../img/png-sprite.png';
@icon-mail-2x: 198px 288px -198px -288px 40px 30px 424px 414px '../img/png-sprite.png' 'icon-mail@2x';
@icon-minus-2x-name: 'icon-minus@2x';
@icon-minus-2x-x: 392px;
@icon-minus-2x-y: 168px;
@icon-minus-2x-offset-x: -392px;
@icon-minus-2x-offset-y: -168px;
@icon-minus-2x-width: 30px;
@icon-minus-2x-height: 4px;
@icon-minus-2x-total-width: 424px;
@icon-minus-2x-total-height: 414px;
@icon-minus-2x-image: '../img/png-sprite.png';
@icon-minus-2x: 392px 168px -392px -168px 30px 4px 424px 414px '../img/png-sprite.png' 'icon-minus@2x';
@icon-phone-blue-2x-name: 'icon-phone-blue@2x';
@icon-phone-blue-2x-x: 392px;
@icon-phone-blue-2x-y: 132px;
@icon-phone-blue-2x-offset-x: -392px;
@icon-phone-blue-2x-offset-y: -132px;
@icon-phone-blue-2x-width: 32px;
@icon-phone-blue-2x-height: 32px;
@icon-phone-blue-2x-total-width: 424px;
@icon-phone-blue-2x-total-height: 414px;
@icon-phone-blue-2x-image: '../img/png-sprite.png';
@icon-phone-blue-2x: 392px 132px -392px -132px 32px 32px 424px 414px '../img/png-sprite.png' 'icon-phone-blue@2x';
@icon-phone-green-2x-name: 'icon-phone-green@2x';
@icon-phone-green-2x-x: 108px;
@icon-phone-green-2x-y: 288px;
@icon-phone-green-2x-offset-x: -108px;
@icon-phone-green-2x-offset-y: -288px;
@icon-phone-green-2x-width: 40px;
@icon-phone-green-2x-height: 40px;
@icon-phone-green-2x-total-width: 424px;
@icon-phone-green-2x-total-height: 414px;
@icon-phone-green-2x-image: '../img/png-sprite.png';
@icon-phone-green-2x: 108px 288px -108px -288px 40px 40px 424px 414px '../img/png-sprite.png' 'icon-phone-green@2x';
@icon-phone-white-2x-name: 'icon-phone-white@2x';
@icon-phone-white-2x-x: 344px;
@icon-phone-white-2x-y: 288px;
@icon-phone-white-2x-offset-x: -344px;
@icon-phone-white-2x-offset-y: -288px;
@icon-phone-white-2x-width: 30px;
@icon-phone-white-2x-height: 30px;
@icon-phone-white-2x-total-width: 424px;
@icon-phone-white-2x-total-height: 414px;
@icon-phone-white-2x-image: '../img/png-sprite.png';
@icon-phone-white-2x: 344px 288px -344px -288px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-phone-white@2x';
@icon-pin-white-2x-name: 'icon-pin-white@2x';
@icon-pin-white-2x-x: 0px;
@icon-pin-white-2x-y: 382px;
@icon-pin-white-2x-offset-x: 0px;
@icon-pin-white-2x-offset-y: -382px;
@icon-pin-white-2x-width: 26px;
@icon-pin-white-2x-height: 32px;
@icon-pin-white-2x-total-width: 424px;
@icon-pin-white-2x-total-height: 414px;
@icon-pin-white-2x-image: '../img/png-sprite.png';
@icon-pin-white-2x: 0px 382px 0px -382px 26px 32px 424px 414px '../img/png-sprite.png' 'icon-pin-white@2x';
@icon-plus-green-2x-name: 'icon-plus-green@2x';
@icon-plus-green-2x-x: 306px;
@icon-plus-green-2x-y: 134px;
@icon-plus-green-2x-offset-x: -306px;
@icon-plus-green-2x-offset-y: -134px;
@icon-plus-green-2x-width: 36px;
@icon-plus-green-2x-height: 38px;
@icon-plus-green-2x-total-width: 424px;
@icon-plus-green-2x-total-height: 414px;
@icon-plus-green-2x-image: '../img/png-sprite.png';
@icon-plus-green-2x: 306px 134px -306px -134px 36px 38px 424px 414px '../img/png-sprite.png' 'icon-plus-green@2x';
@icon-plus-2x-name: 'icon-plus@2x';
@icon-plus-2x-x: 314px;
@icon-plus-2x-y: 204px;
@icon-plus-2x-offset-x: -314px;
@icon-plus-2x-offset-y: -204px;
@icon-plus-2x-width: 30px;
@icon-plus-2x-height: 32px;
@icon-plus-2x-total-width: 424px;
@icon-plus-2x-total-height: 414px;
@icon-plus-2x-image: '../img/png-sprite.png';
@icon-plus-2x: 314px 204px -314px -204px 30px 32px 424px 414px '../img/png-sprite.png' 'icon-plus@2x';
@icon-pointer-2x-name: 'icon-pointer@2x';
@icon-pointer-2x-x: 348px;
@icon-pointer-2x-y: 132px;
@icon-pointer-2x-offset-x: -348px;
@icon-pointer-2x-offset-y: -132px;
@icon-pointer-2x-width: 40px;
@icon-pointer-2x-height: 42px;
@icon-pointer-2x-total-width: 424px;
@icon-pointer-2x-total-height: 414px;
@icon-pointer-2x-image: '../img/png-sprite.png';
@icon-pointer-2x: 348px 132px -348px -132px 40px 42px 424px 414px '../img/png-sprite.png' 'icon-pointer@2x';
@icon-prin-2x-name: 'icon-prin@2x';
@icon-prin-2x-x: 392px;
@icon-prin-2x-y: 178px;
@icon-prin-2x-offset-x: -392px;
@icon-prin-2x-offset-y: -178px;
@icon-prin-2x-width: 30px;
@icon-prin-2x-height: 32px;
@icon-prin-2x-total-width: 424px;
@icon-prin-2x-total-height: 414px;
@icon-prin-2x-image: '../img/png-sprite.png';
@icon-prin-2x: 392px 178px -392px -178px 30px 32px 424px 414px '../img/png-sprite.png' 'icon-prin@2x';
@icon-replace-2x-name: 'icon-replace@2x';
@icon-replace-2x-x: 68px;
@icon-replace-2x-y: 348px;
@icon-replace-2x-offset-x: -68px;
@icon-replace-2x-offset-y: -348px;
@icon-replace-2x-width: 30px;
@icon-replace-2x-height: 26px;
@icon-replace-2x-total-width: 424px;
@icon-replace-2x-total-height: 414px;
@icon-replace-2x-image: '../img/png-sprite.png';
@icon-replace-2x: 68px 348px -68px -348px 30px 26px 424px 414px '../img/png-sprite.png' 'icon-replace@2x';
@icon-rings-2x-name: 'icon-rings@2x';
@icon-rings-2x-x: 306px;
@icon-rings-2x-y: 176px;
@icon-rings-2x-offset-x: -306px;
@icon-rings-2x-offset-y: -176px;
@icon-rings-2x-width: 36px;
@icon-rings-2x-height: 22px;
@icon-rings-2x-total-width: 424px;
@icon-rings-2x-total-height: 414px;
@icon-rings-2x-image: '../img/png-sprite.png';
@icon-rings-2x: 306px 176px -306px -176px 36px 22px 424px 414px '../img/png-sprite.png' 'icon-rings@2x';
@icon-search-white-2x-name: 'icon-search-white@2x';
@icon-search-white-2x-x: 276px;
@icon-search-white-2x-y: 288px;
@icon-search-white-2x-offset-x: -276px;
@icon-search-white-2x-offset-y: -288px;
@icon-search-white-2x-width: 30px;
@icon-search-white-2x-height: 30px;
@icon-search-white-2x-total-width: 424px;
@icon-search-white-2x-total-height: 414px;
@icon-search-white-2x-image: '../img/png-sprite.png';
@icon-search-white-2x: 276px 288px -276px -288px 30px 30px 424px 414px '../img/png-sprite.png' 'icon-search-white@2x';
@icon-terrace-2x-name: 'icon-terrace@2x';
@icon-terrace-2x-x: 218px;
@icon-terrace-2x-y: 204px;
@icon-terrace-2x-offset-x: -218px;
@icon-terrace-2x-offset-y: -204px;
@icon-terrace-2x-width: 92px;
@icon-terrace-2x-height: 70px;
@icon-terrace-2x-total-width: 424px;
@icon-terrace-2x-total-height: 414px;
@icon-terrace-2x-image: '../img/png-sprite.png';
@icon-terrace-2x: 218px 204px -218px -204px 92px 70px 424px 414px '../img/png-sprite.png' 'icon-terrace@2x';
@spritesheet-width: 424px;
@spritesheet-height: 414px;
@spritesheet-image: '../img/png-sprite.png';
@spritesheet-sprites: @icon-balcony-2x @icon-bath-2x @icon-bedroom-2x @icon-bus-2x @icon-car-2x @icon-check-blue-2x @icon-check-green-2x @icon-check-2x @icon-clock-green-2x @icon-clock-white-2x @icon-close-2x @icon-dialog-blue-2x @icon-dialog-green-2x @icon-estimate-2x @icon-gear-2x @icon-hall-2x @icon-heart-2x @icon-info-big-2x @icon-info-2x @icon-kitchen-2x @icon-mail-white-2x @icon-mail-2x @icon-minus-2x @icon-phone-blue-2x @icon-phone-green-2x @icon-phone-white-2x @icon-pin-white-2x @icon-plus-green-2x @icon-plus-2x @icon-pointer-2x @icon-prin-2x @icon-replace-2x @icon-rings-2x @icon-search-white-2x @icon-terrace-2x;
@spritesheet: 424px 414px '../img/png-sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
