mixin promo-slider()
  +b.promo-slider&attributes(attributes)(id="promo-slider")
    +e.item(style="background-image: url(/img/promo-slide.jpg)")
      +e.inner
        +e.P.title Профилированный брус
        +e.info
          +e.SPAN.text.--name финский профиль
          +e.SPAN.price 7900
          +e.SPAN.text за 1 м.кв
        +countdown('8')
        +b.A.btn.--green-fill.--promo(href="/projects/project-page.html") Подробнее

    +e.item(style="background-image: url(/img/promo-slide.jpg)")
      +e.inner
        +e.P.title Просто брус
        +e.info
          +e.SPAN.text.--name Норвежский профиль
          +e.SPAN.price 5900
          +e.SPAN.text за 1 м.кв
        +b.A.btn.--green-fill.--promo(href="/projects/project-page.html") Подробнее 
    +e.item(style="background-image: url(/img/promo-slide.jpg)")
      +e.inner
        +e.P.title Бревенчатый дом
        +e.info
          +e.SPAN.text.--name Русская березка
          +e.SPAN.price 4900
          +e.SPAN.text за 1 м.кв
        +b.A.btn.--green-fill.--promo(href="/projects/project-page.html") Подробнее 
