include ../../assets/bemtopug/bemto
include ../connect/_blocks.pug

doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

  include ../template/_head.pug

  body

    block content

    script(src='js/script.min.js')
