.usefull-nav{
  .col(30px, left);
  .col12-12;

  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid grey;

  @media screen and (min-width: @width_tablet){
    .col12-6;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  @media screen and (min-width: @width_desktop_min){
    // .col12-6;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 30px;
    list-style: none;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    font-size: 15px;
    letter-spacing: .9px;
    font-family: @lato;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
  }
}