mixin usefull-nav()
  +b.usefull-nav&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#") Пиломатериалы
      +e.LI.item
        +e.A.link(href="#") Полезная информация
      +e.LI.item
        +e.A.link(href="#") Отзывы
      +e.LI.item
        +e.A.link(href="#") Публичная оферта