mixin review-card(num, title, imgSrc, imgAlt)
  +b.A.review-card(href="reviews/review-page.html")&attributes(attributes)
    +e.DIV.head
      +e.SPAN.number= num
      +e.H2.title= title
    +e.visual
      +e.IMG.img(src= imgSrc, alt= imgAlt)