.form{
  display: block;

  &__item {
    .clearfix();
    padding-bottom: 15px;
  }

  &__label {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: @lato;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
  }

  &__select {
    position: relative;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid @orange;
    border-radius: 8px;
    font-family: @lato;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    background-color: transparent;
    background-image: url('/images/stories/select-arrow-pink.png');
    background-position: right center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      bottom: 44%;
      right: 15px;
      margin: auto;
      display: block;
      width: 10px;
      height: 10px;
      border-left: 1px solid @orange;
      border-bottom: 1px solid @orange;
      transform: rotate(-45deg);
    }

    & option {
      display: block;
      padding: 7px 10px;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    min-width: 100%;
    padding-top: 10px;
    margin-top: 0;
    top: 100%;
    left: 0;
    text-align: left;
    transition: all .4s ease;
    z-index: 100;
  }

  &__option-list {
    position: relative;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    z-index: 0;
    white-space: nowrap;
    list-style: none;

    &:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 30px;
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      transform: rotate(-45deg);
      z-index: -1;
      box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__option {
    display: block;
    font-family: Lato, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #3b3a39;
    letter-spacing: 1px;
    white-space: nowrap;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;
  }

  &__link {
    display: block;
    padding: 10px 30px;
    color: #3b3a39;
    text-decoration: none;

    &:hover {
      background-color: #4f5b99;
      color: #fff;
    }
  }
   
  &__select::-ms-expand {
    display: none;
  }

  &__cost {
    width: 48%;
    margin-right: 4%;
    height: 50px;
    box-sizing: border-box;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid @orange;
    border-radius: 8px;
    font-family: @lato;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 1px;
    background-color: transparent;

    &:nth-of-type(2) {
      margin-right: 0;
    }

    @media screen and (min-width: @width_tablet){
      width: 170px;
      margin-right: 0;
    }

    @media screen and (min-width: @width_desktop_min){

    }

    &--start {
      float: left;
      margin-bottom: 15px;

      @media screen and (min-width: @width_tablet){
        margin-bottom: 0;
      }

      @media screen and (min-width: @width_desktop_min){

      }
    }

    &--end {
      float: right;
    }
  }

  &__slider-box {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  

}

.ui-widget.ui-widget-content {
  border: none;
}

.slider-ui {
  height: 3px;
  background-color: @orange;
  border: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 2px;
    height: 7px;
    background-color: @orange;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: 2px;
    height: 8px;
    background-color: @orange;
  }
  // background-color: @orange;
}


.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: @orange;
  outline: none;
  border: 2px solid @orange;
  box-sizing: border-box;
  transition: background-color .3s ease;
}

.ui-slider-horizontal .ui-slider-range {
  background-color: @orange;
}

.ui-slider-horizontal .ui-state-hover {
  background-color: #fff;
}