mixin form()
  +b.FORM.form&attributes(attributes)
    +e.item.--type
      +e.P.label Тип проекта
      +e.DIV.select
        +e.SPAN.selected Выбрать
        +e.dropdown
          +e.UL.option-list
            +e.LI.option.--selected 
              +e.A.link(href="#") Постоянное проживание
            +e.LI.option 
              +e.A.link(href="#") Летнее проживание
            +e.LI.option 
              +e.A.link(href="#") Осенне-весеннее проживание
            +e.LI.option 
              +e.A.link(href="#") Временная регистрация
            +e.LI.option 
              +e.A.link(href="#") Вид на жительство
            +e.LI.option 
              +e.A.link(href="#") Green-card
    +e.item.--proportions
      +e.P.label Площадь дома, м.кв
      +e.DIV.select
        +e.SPAN.selected Выбрать
        +e.dropdown
          +e.UL.option-list
            +e.LI.option.--selected 
              +e.A.link(href="#") 100-120
            +e.LI.option 
              +e.A.link(href="#") 120-140
            +e.LI.option 
              +e.A.link(href="#") 140-160
            +e.LI.option 
              +e.A.link(href="#") 160-180
            +e.LI.option 
              +e.A.link(href="#") 180-200
            +e.LI.option 
              +e.A.link(href="#") от 200
    +e.item.--price
      +e.P.label Стоимость, руб.
      +e.INPUT.cost.--start(data-price-start="90000" id="amount_start" placeholder="")
      +e.INPUT.cost.--end(data-price-end="420000" id="amount_end" placeholder="")
      +e.DIV.slider-box
        +b.slider-ui(id="form-slider-ui")
    
    +e.item.--btn
      block
