mixin subnav()
  +b.subnav&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#") Дачные дома
      +e.LI.item
        +e.A.link(href="#") Для постоянного проживания
      +e.LI.item
        +e.A.link(href="#") Бани
      +e.LI.item
        +e.A.link(href="#") Срубы и домокомплекты