.subnav{
  margin-top: 10px;

  @media screen and (min-width: @width_tablet){
    position: absolute;
    // display: none;
    padding-top: 20px;
    margin-top: 0;
    top: 100%;
    text-align: left;
    transition: all .4s ease;
    z-index: 100;
  }

  @media screen and (min-width: @width_desktop_min){
    display: none;
    opacity: 0;
  }

  &:hover {
    display: block;
    opacity: 1;
  }

  &__list {
    padding-left: 10px;

    @media screen and (min-width: @width_tablet){
      position: relative;
      background-color: #fff;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
      z-index: 0;
      white-space: nowrap;
    }

    @media screen and (min-width: @width_desktop_min){
      padding-left: 0;
      padding-right: 0;
    }

    &:before {
      // content: '';
      // position: absolute;
      // top: -10px;
      // left: 25%;
      // display: block;
      // width: 20px;
      // height: 20px;
      // background-color: #fff;
      // transform: rotate(-45deg);
      // z-index: 1;
      // box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.1);

      @media screen and (min-width: @width_tablet){
        content: '';
        position: absolute;
        top: -10px;
        left: 30px;
        display: block;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transform: rotate(-45deg);
        z-index: 1;
        box-shadow: 2px -2px 4px 0 rgba(0, 0, 0, 0.1);
      }

      @media screen and (min-width: @width_desktop_min){
        left: 25%;
      }
    }
  }

  &__item {
    list-style: none;
    display: block;
    position: relative;
    z-index: 10;

    @media screen and (min-width: @width_tablet){
      display: inline-block;
      white-space: nowrap;
    }

    @media screen and (min-width: @width_desktop_min){
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 10px;
    font-family: @lato;
    font-size: 15px;
    line-height: 18px;
    color: @dark;
    letter-spacing: 1px;
    white-space: nowrap;
    text-decoration: none;
    transition: all .2s ease;

    @media screen and (min-width: @width_tablet){

    }

    @media screen and (min-width: @width_desktop_min){
      display: block;
      padding: 9px 30px 10px 30px;
    }

    &:hover {
      background-color: @blue;
      color: #fff;
    }
  }
}