extends ../../layout/_layoutBase.pug


block content
  +page-header
    +e.logo
      +logo("/index.html", "/img/logo.png", "Живой дом")
    +e.info
      .row
        +phone("+7 (812) 648-29-49", "tel:+78126482949", "+7 (812) 955-05-07", "tel:+78129550507")
        +main-nav
          +main-nav-item("", "/projects.html", "Каталог проектов")
            +subnav()
          +main-nav-item("", "#", "Пиломатериалы")
          +main-nav-item("", "/reviews.html", "Отзывы")
          +main-nav-item("", "#", "Контакты")

  +b.MAIN
    +breadcrumbs("Проект дома Любань")
      +breadcrumbs-link("/", "Главная")
      +breadcrumbs-link("/reviews.html", "Отзывы")

  +review()

  +quote()

  +gallery()


  +page-footer
    +usefull
      +footer-nav
        +project-nav
        +usefull-nav
      +contacts("mailto:info@Lhspb.ru")
    +juristic